<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Layouts</title>
  </head>
  <body>
    <!-- Using tables to layout elements -->
    <!-- <div id="card">
        <table>
            <tr>
                <td>
                    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, id non esse temporibus alias quidem maiores quasi beatae repellat. Maxime natus neque impedit quasi beatae commodi consequuntur mollitia, sit perferendis.</p>
                </td>
                <td>
                    <img src="../images/card-img.jpg" alt="">
                </td>
            </tr>
        </table>
      

    </div> -->
    <!-- using percentage and display properties -->
    <div id="card">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed natus ut
        magnam laudantium unde, voluptas cupiditate eaque quo aut vero atque
        neque temporibus modi delectus itaque odit dolore iure maiores.
      </p>
      <img src="../images/card-img.jpg" alt="" />
    </div>

    <!-- <a href="#">Google</a> -->
    <div id="card2">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed natus ut
          magnam laudantium unde, voluptas cupiditate eaque quo aut vero atque
          neque temporibus modi delectus itaque odit dolore iure maiores.
        </p>
        <img src="../images/card-img.jpg" alt="" />

        <h2> Another element</h2>
      </div>
  


  </body>
</html>
