/* p#para{
    color: red;
    background-color: navy;
    text-align: center;
}

p.red{
    color: red;
} */

/* 
p{
    color: blue;
}
.bgblue{
    background-color: blue;
}
h1{
    color: green;
} */


p{
    color: green;
}

/* #blue{
    color: blue;
} */

/* p.red.imp{
    color: red;
}


p.imp{
    color: blue;
} */



/*  Navigation styles 
    Date: 2/13/2024
    Author: John Doe

*/



p{
    color: blue;
}

p{
    color: red;
}