@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* reset browser css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  display: inline-block;
}

#about h1, 
#about img, 
#about p,
#services h1, 
#services img, 
#services p {
  margin-bottom: 50px;
}

.content{
  text-align: center;
  padding:50px;
  width: 60%;
  margin: auto;
  font-size: 18px;
}

/* Header css */
#header{
  background-color: #E2DFDF;
  color: #333;
}

#header h1{
  font-size: 60px;
}

#header h2{
  font-size: 24px;
  margin-bottom: 50px;
}
/* Banner css */

#banner #profile-img{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-top: -130px;
  border: 10px solid white;
  margin-bottom: 25px;
}

#social-list li{
  display: inline-block;

}

.social-img{
  width: 40px;
  height: 40px;
  margin: 30px 15px;
}

/* Services css */
#services{
  background-color: #DDEDFF;
  color: #333;
}


#services a{
  padding: 10px;
  background-color: dodgerblue;
  color: white;
  border-radius: 10px;
}
/* About me css */

#about{
color: #333;
background-color: antiquewhite;
}

#about h1, #about img, #about p{
  margin-bottom: 50px;
}

#about img{
  width: 35%;
  border-radius: 10px;
}

#about a{
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Footer css */
#footer{
  background-color: #333;
  color: white;
}

#footer .content{
  padding: 20px;
}