@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* rest */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Roboto', sans-serif;
}


.btn{
  display: inline-block;
  padding: 1rem;
  border-radius: 7px;
  text-decoration: none;
  margin-top: 10px;
}

.btn:hover{
  box-shadow: 2px 2px 10px gray;
}

/* banner */
#banner #header{
  background-color: lightgray;
  text-align: center;
  padding: 100px;
}

#header h1{
  font-size: 3rem;
}
#header h2{
  font-style: italic;
    font-family: 'Pacifico', cursive;
}

#user-image{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: auto;
  display: block;
  margin-top: -75px;
  border: 10px solid white;
}

#banner p, #services p, #about p{
  width: 50%;
  margin: 10px auto;
  text-align: center;
}

#banner h3{
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 1.25rem;
}
#banner ul{
  text-align: center;
}

#banner li{
  display: inline-block;
  margin: 10px;
}

#banner ul img{
  width:30px;
}

/* Services */

#services, #about {
  text-align: center;
  padding: 2rem;
}

#services{
  margin-top: 50px;
  background-color: #CEF7F7;
}

#services h1, #about h1{
  font-size: 42px;
}

#services img{
  width: 500px;
}

#services .btn{
  background-color: orange;
  color: white;
}

/* About section */
#about{
  background-color: beige;
}
#about h1{
  font-family: 'Pacifico', cursive;
  
}

#about img{
  width: 250px;
  margin: 20px;
  border-radius: 25px;
}

#about .btn{
  background-color: black;
  color: white;
}

/* Footer */
#footer{
  padding: 25px;
  text-align: center;
  background-color: #333;
  color: white;
}



